
body{
    padding: 0;
    margin: 0;
    
}
@import '../../global.scss';

.intro{
    overflow: hidden;
    img{
        width: 100%;
        height: 100vh;
        position: absolute;
        overflow: hidden;
        
        @include mobile{
            width: 177vw;
            height: 177vh;
            
        }
        
        }
    

    h1{
        position: absolute;
        top: 15px;
        color: white;
        left: 250px;
        @include mid{
            top: 20px;
            left: 55px;
            

        }
        @include mobile{
            font-size: 40px;
            left: 235px;
            
        }
    }


    .navbar{
        position: absolute;
        top: 10px;
        left: 400px;
        width: 660px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 20px;
        color: white;
        @include mid{
            position: absolute;
            left: -65px;
            
            top: 60px;
            font-size: 18px;
            

        }
        @include mobile{
            width: 600px;
            flex-wrap: wrap;
            font-size: 24px;
            
            height: 150px;
            left: 5px;
            padding: 30px 0;
            
            
            
            

            
            
            
        }
        .active{
            color: yellow;
        }
        ul{
            display: flex;
            justify-content: space-around;
            li{
                list-style-type: none;
                padding: 10px 15px;
                cursor: pointer;
                @include mid{
                    padding: 20px 6px;
                    
        
                }
                a{
                    text-decoration: none;
                    color: white;
                }
                
                
            }
            li:hover{
                background-color: rgb(197, 102, 121);
                color: white;
                transition: 0.2s ease-in-out;
                border-radius: 10px;
            }
        }
    }
    .plane1{
        position: absolute;
        top: 20%;
        right: 35%;
        width: 50px;
        height: 50px;
    }
    .plane2{
        position: absolute;
        top: 17%;
        right: 25%;
        width: 50px;
        height: 50px;
    }

    .imgContainer{
        position: absolute;
        right: 40%;
        top: 20%;
        
        @include mobile{
            display: none;
        }
       
        img{
            width: 400px;
            height: 400px;
        }
    }
    .container{
        position: absolute;
        top: 100px;
        left: 250px;
        width: 400px;
        @include mid{
            left: 55px;
            

        }
        @include mobile{
            top: 200px;
            width: 500px;
        }
        p{
            font-size: 40px;
            color: white;
            font-weight: 800;
            @include mobile{
                font-size: 60px;
                text-align: center;
            }

        }
        h2{
            color: white;
            font-weight: 400;
            @include mobile{
                font-size: 40px;
                text-align: center;

            }
        }
        .btns{
            width: 200px;
            padding: 40px 0;
            display: flex;
            justify-content: space-between;
            
            @include mobile{
                width: 450px;
                padding: 100px 50px;
            }
            
            .btn1{
                background-color: yellow;
                width: 90px;
                height: 30px;
                border: none;
                border-radius: 2px;
                cursor: pointer;
                @include mobile{
                    width: 200px;
                    height: 70px;
                    font-size: 30px;
    
                }
                
                
                
            }
            .btn1:hover{
                background-color: purple;
                color: white;
                transition: 0.5s ease-in-out;

            }
            .btn2{
                background-color: purple;
                width: 90px;
                height: 30px;
                border: none;
                color: white;
                border-radius: 2px;
                cursor: pointer;
                @include mobile{
                    width: 200px;
                    height: 70px;
                    font-size: 30px;
    
                }

            }
            .btn2:hover{
                background-color: yellow;
                color: black;
                transition: 0.5s ease-in-out;

            }
        }
    }
    .dots{
        position: absolute;
        bottom: 40px;
        left: 250px;
        width: 50px;
        display: flex;
        justify-content: space-between;
        @include mid{
            left: 56px;
        }
        @include mobile{
            left: 250px;
            top: 150%;
            
            
        }
        
        .dot{
            height: 10px;
            width: 10px;
            background-color: grey;
            border-radius: 50%;
            display: inline-block;
            @include mobile{
                width: 30px ;
                height:30px;
                padding: 0 15px;
            }
            
        }
        .active{
            background-color: white;
        }
    }

    
}